n8n_wikipedia_research.json
{
  "name": "CiteOS Wikipedia Auto-Research",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wikipedia-research",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "e45f9fc3-4e42-4f7b-91cc-c9a7566089a8",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        220,
        240
      ],
      "webhookId": "wikipedia-research"
    },
    {
      "parameters": {
        "url": "=https://en.wikipedia.org/w/api.php?action=query&list=search&srsearch={{$json.body.topicName}}&utf8=&format=json",
        "options": {}
      },
      "id": "0d62c938-f9b6-4bba-9576-9285fb70c2d2",
      "name": "Search Wikipedia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        440,
        240
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "query.search",
        "options": {}
      },
      "id": "b3f0907a-d477-4b71-bdf4-d6a6d6d8495a",
      "name": "Split Out Results",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        660,
        240
      ]
    },
    {
      "parameters": {
        "operation": "limit",
        "maxItems": 3
      },
      "id": "c1f7a18f-7f72-4f6c-bdf4-d6a6d6d8495b",
      "name": "Limit to Top 3",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        860,
        240
      ]
    },
    {
      "parameters": {
        "url": "=https://en.wikipedia.org/w/api.php?action=query&prop=extracts&explaintext=1&titles={{encodeURI($json.title)}}&format=json",
        "options": {}
      },
      "id": "4e72a48f-3d66-4c77-bcf4-d6a6d6d8495c",
      "name": "Extract Full Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1060,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const pages = $input.item.json.query.pages;\nconst pageId = Object.keys(pages)[0];\nconst text = pages[pageId].extract;\nconst title = pages[pageId].title;\n\nreturn {\n  json: {\n    text: text,\n    title: title,\n    topicId: $('Webhook').first().json.body.topicId\n  }\n};"
      },
      "id": "5e72a48f-3d66-4c77-bcf4-d6a6d6d8495d",
      "name": "Parse Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1260,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/vectorize",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": [{{ JSON.stringify($json.text) }}],\n  \"url\": \"https://en.wikipedia.org/wiki/{{ encodeURI($json.title) }}\",\n  \"topicId\": \"{{ $json.topicId }}\"\n}",
        "options": {}
      },
      "id": "6e72a48f-3d66-4c77-bcf4-d6a6d6d8495e",
      "name": "Push to CiteOS API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1460,
        240
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Search Wikipedia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Wikipedia": {
      "main": [
        [
          {
            "node": "Split Out Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Results": {
      "main": [
        [
          {
            "node": "Limit to Top 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit to Top 3": {
      "main": [
        [
          {
            "node": "Extract Full Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Full Text": {
      "main": [
        [
          {
            "node": "Parse Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Text": {
      "main": [
        [
          {
            "node": "Push to CiteOS API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
